In [1]:
%%time
import datetime, warnings, scipy 
import pandas as pd
import numpy as np
df_all = pd.read_csv('flights.csv', low_memory=False)
df=df_all
print(df.shape)

(5819079, 31)
Wall time: 34.4 s

In [3]:
X=df[['MONTH','DAY','YEAR','DAY_OF_WEEK','AIRLINE','ORIGIN_AIRPORT','DESTINATION_AIRPORT','SCHEDULED_DEPARTURE','SCHEDULED_ARRIVAL']]
X.head()

,MONTH,DAY,YEAR,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,SCHEDULED_ARRIVAL
0,1,1,2015,4,AS,ANC,SEA,5,430
1,1,1,2015,4,AA,LAX,PBI,10,750
2,1,1,2015,4,US,SFO,CLT,20,806
3,1,1,2015,4,AA,LAX,MIA,20,805
4,1,1,2015,4,AS,SEA,ANC,25,320

In [7]:
print(len(X.ORIGIN_AIRPORT.unique()))
print(len(X.DESTINATION_AIRPORT.unique()))
print(len(X.AIRLINE.unique()))
X[X['MONTH']==10]

628
629
14

,MONTH,DAY,YEAR,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,SCHEDULED_ARRIVAL
4385712,10,1,2015,4,AA,14747,11298,5,602
4385713,10,1,2015,4,DL,14771,13487,5,538
4385714,10,1,2015,4,NK,12889,13487,5,502
4385715,10,1,2015,4,AA,12892,13303,10,806
4385716,10,1,2015,4,AA,14771,11057,10,801
4385717,10,1,2015,4,UA,14771,13930,14,635
4385718,10,1,2015,4,UA,12892,13930,14,627
4385719,10,1,2015,4,AA,14869,11057,15,607
4385720,10,1,2015,4,AA,12892,11298,15,511
4385721,10,1,2015,4,DL,12892,13487,20,550
4385722,10,1,2015,4,AA,12892,10693,35,636
4385723,10,1,2015,4,AA,12892,11057,40,829
4385724,10,1,2015,4,DL,10299,14747,40,503
4385725,10,1,2015,4,UA,12889,12266,41,528
4385726,10,1,2015,4,DL,14747,13487,45,557
4385727,10,1,2015,4,UA,14771,12266,45,620
4385728,10,1,2015,4,DL,11292,12478,45,633
4385729,10,1,2015,4,DL,12889,13487,45,547
4385730,10,1,2015,4,AA,14107,11298,50,509
4385731,10,1,2015,4,AS,14747,13930,50,644
4385732,10,1,2015,4,AS,10299,14057,50,520
4385733,10,1,2015,4,DL,14869,10397,55,620
4385734,10,1,2015,4,AA,14771,11298,55,609
4385735,10,1,2015,4,AS,10299,14747,55,510
4385736,10,1,2015,4,UA,12892,12266,58,610
4385737,10,1,2015,4,AA,12892,13930,59,706
4385738,10,1,2015,4,AA,12889,11298,59,548
4385739,10,1,2015,4,AA,12892,11298,59,555
4385740,10,1,2015,4,NK,14107,11298,100,504
4385741,10,1,2015,4,NK,12889,13198,110,548
...,...,...,...,...,...,...,...,...,...
4871847,10,31,2015,6,F9,11292,14492,2355,405
4871848,10,31,2015,6,F9,11292,13204,2355,422
4871849,10,31,2015,6,F9,12889,13930,2355,430
4871850,10,31,2015,6,VX,14771,10721,2355,735
4871851,10,31,2015,6,AS,14747,10299,2355,134
4871852,10,31,2015,6,AS,10299,13930,2355,758
4871853,10,31,2015,6,AS,12892,14747,2355,138
4871854,10,31,2015,6,B6,13204,14843,2355,237
4871855,10,31,2015,6,B6,12889,10721,2355,647
4871856,10,31,2015,6,UA,14771,11618,2355,715
4871857,10,31,2015,6,NK,14057,13930,2356,445
4871858,10,31,2015,6,F9,11292,14635,2359,426
4871859,10,31,2015,6,F9,11292,15304,2359,418
4871860,10,31,2015,6,VX,14771,12478,2359,730
4871861,10,31,2015,6,AA,12892,13930,2359,501
4871862,10,31,2015,6,AA,14771,13303,2359,717
4871863,10,31,2015,6,AA,14747,13930,2359,445
4871864,10,31,2015,6,AA,12892,13303,2359,659
4871865,10,31,2015,6,AA,11292,13303,2359,447
4871866,10,31,2015,6,AA,10299,14107,2359,626
4871867,10,31,2015,6,B6,14869,13204,2359,506
4871868,10,31,2015,6,B6,12889,12478,2359,640
4871869,10,31,2015,6,B6,12892,10721,2359,716
4871870,10,31,2015,6,B6,14570,12478,2359,700
4871871,10,31,2015,6,B6,12478,14254,2359,347
4871872,10,31,2015,6,B6,11292,12478,2359,427
4871873,10,31,2015,6,B6,12478,10732,2359,339
4871874,10,31,2015,6,B6,12478,14843,2359,342
4871875,10,31,2015,6,UA,14747,12266,2359,504
4871876,10,31,2015,6,UA,12892,12266,2359,410

In [18]:
X['DATE'] = pd.to_datetime(X.loc[:,['YEAR','MONTH','DAY']])
X.head()

C:\Users\M1041841\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,MONTH,DAY,YEAR,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,SCHEDULED_ARRIVAL,DATE
0,1,1,2015,4,AS,ANC,SEA,5,430,2015-01-01
1,1,1,2015,4,AA,LAX,PBI,10,750,2015-01-01
2,1,1,2015,4,US,SFO,CLT,20,806,2015-01-01
3,1,1,2015,4,AA,LAX,MIA,20,805,2015-01-01
4,1,1,2015,4,AS,SEA,ANC,25,320,2015-01-01

In [14]:
X.isnull().sum()

MONTH                  0
DAY                    0
YEAR                   0
DAY_OF_WEEK            0
AIRLINE                0
ORIGIN_AIRPORT         0
DESTINATION_AIRPORT    0
SCHEDULED_DEPARTURE    0
SCHEDULED_ARRIVAL      0
dtype: int64

In [31]:
from pandas.tseries.holiday import USFederalHolidayCalendar
cal = USFederalHolidayCalendar()
holidays = pd.to_datetime(cal.holidays(start='2015-01-01', end='2015-12-31'))

In [37]:
X['is_holiday']=X['DATE'] in holidays

C:\Users\M1041841\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [49]:
holidays

DatetimeIndex(['2015-01-01', '2015-01-19', '2015-02-16', '2015-05-25',
               '2015-07-03', '2015-09-07', '2015-10-12', '2015-11-11',
               '2015-11-26', '2015-12-25'],
              dtype='datetime64[ns]', freq=None)

In [67]:
ifh=[]
for i in range(len(X)):
    if (X['DATE'][i] in holidays):
        ifh.append(1)
    else:
        ifh.append(0)

In [75]:
ihf=X['DATE'] in holidays

In [72]:
X.head()

,MONTH,DAY,YEAR,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,SCHEDULED_ARRIVAL,DATE,is_holiday
0,1,1,2015,4,AS,ANC,SEA,5,430,2015-01-01,1
1,1,1,2015,4,AA,LAX,PBI,10,750,2015-01-01,1
2,1,1,2015,4,US,SFO,CLT,20,806,2015-01-01,1
3,1,1,2015,4,AA,LAX,MIA,20,805,2015-01-01,1
4,1,1,2015,4,AS,SEA,ANC,25,320,2015-01-01,1

In [ ]:
import pandas as pd
df_aircode1 = pd.DataFrame.from_csv('L_AIRPORT.csv')
df_aircode2 = pd.DataFrame.from_csv('L_AIRPORT_ID.csv')
df_aircode1 = df_aircode1.reset_index()
df_aircode2 = df_aircode2.reset_index()
df_aircodes = pd.merge(df_aircode1,df_aircode2,on='Description')
aircode_dict = dict(zip(df_aircodes['Code_y'].astype(str),df_aircodes['Code_x']))

df_fl = pd.io.parsers.read_csv('flights.csv')

df_fl['ORIGIN_AIRPORT'] = df_fl['ORIGIN_AIRPORT'].values.astype(str)
df_fl['DESTINATION_AIRPORT'] = df_fl['DESTINATION_AIRPORT'].values.astype(str)

N_flights = len(df_fl)
for i in range(N_flights):
    if i % 100000 == 0:
        print(i)
    if len(df_fl['ORIGIN_AIRPORT'][i]) != 3:
        to_replace = df_fl['ORIGIN_AIRPORT'][i]
        value = aircode_dict[df_fl['ORIGIN_AIRPORT'][i]]
        df_fl = df_fl.replace(to_replace, value)
        print('replaced',to_replace,'with',value)
    elif len(df_fl['DESTINATION_AIRPORT'][i]) != 3:
        to_replace = df_fl['DESTINATION_AIRPORT'][i]
        value = aircode_dict[df_fl['DESTINATION_AIRPORT'][i]]
        df_fl = df_fl.replace(to_replace, value)
        print('replaced',to_replace,'with',value)

C:\Users\M1041841\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls

C:\Users\M1041841\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\M1041841\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
replaced 14747 with SEA
replaced 14771 with SFO
replaced 12889 with LAS
replaced 12892 with LAX
replaced 11057 with CLT
replaced 13930 with ORD
replaced 14869 with SLC
replaced 11298 with DFW
replaced 13487 with MSP
replaced 10693 with BNA
replaced 10299 with ANC
replaced 12266 with IAH
replaced 11292 with DEN
replaced 14107 with PHX
replaced 14057 with PDX
replaced 10397 with ATL
replaced 13198 with MCI
replaced 11630 with FAI
replaced 12173 with HNL
replaced 10732 with BQN
replaced 14254 with PSE
replaced 10141 with ABR
replaced 10627 with BIS
replaced 11982 with GRK
replaced 12402 with ITO
replaced 13303 with MIA
replaced 14683 with SAT
replaced 11618 with EWR
replaced 10721 with BOS
replaced 11884 with GEG
replaced 15919 with XNA
replaced 13851 with OKC
replaced 11111 with COU
replaced 12191 with HOU
replaced 14783 with SGF
replaced 15016 with STL
replaced 12758 with KOA
replaced 14487 with RDD
replaced 13830 with OGG
replaced 10423 with BSM
replaced 15370 with TUL
replaced 11953 with GNV
replaced 13891 with ONT
replaced 15376 with TUS
replaced 12478 with JFK
replaced 11778 with FSM
replaced 11278 with DCA
replaced 14100 with PHL
replaced 13204 with MCO
replaced 15304 with TPA
replaced 11637 with FAR
replaced 14842 with SJT
replaced 10155 with ACT
replaced 11775 with FSD
replaced 12982 with LIH
replaced 13931 with ORF
replaced 10821 with BWI
replaced 14122 with PIT
replaced 11049 with CLL
replaced 10990 with CHO
replaced 10631 with BJI
replaced 13158 with MAF
replaced 14108 with PIA
replaced 11697 with FLL
replaced 11447 with DVL
replaced 12206 with HRL
replaced 13495 with MSY
replaced 15624 with VPS
replaced 10747 with BRO
replaced 15411 with TYR
replaced 12891 with LAW
replaced 10994 with CHS
replaced 13256 with MFE
replaced 10792 with BUF
replaced 14492 with RDU
replaced 12451 with JAX
replaced 13577 with MYR
replaced 13127 with LWS
replaced 10781 with BTR
replaced 14960 with SPS
replaced 12278 with ICT
replaced 14685 with SAV
replaced 11995 with GSO
replaced 13485 with MSN
replaced 11977 with GRB
replaced 12339 with IND
replaced 13232 with MDW
replaced 11259 with DAL
replaced 10257 with ALB
replaced 13796 with OAK
replaced 10140 with ABQ
replaced 13296 with MHT
replaced 14570 with RNO
replaced 14893 with SMF
replaced 14524 with RIC
replaced 12217 with HSV
replaced 10713 with BOI
replaced 10208 with AGS
replaced 10136 with ABI
replaced 11603 with EUG
replaced 14689 with SBA
replaced 11471 with EAU
replaced 11315 with DIK
replaced 13264 with MFR
replaced 14814 with SHV
replaced 11308 with DHN
replaced 11066 with CMH
replaced 12896 with LBB
replaced 14831 with SJC
replaced 14307 with PVD
replaced 14843 with SJU
replaced 11721 with FNT
replaced 11140 with CRP
replaced 10185 with AEX
replaced 13277 with MGM
replaced 11203 with CWA
replaced 13342 with MKE
replaced 11433 with DTW
replaced 12953 with LGA
replaced 10599 with BHM
replaced 12156 with HLN
replaced 14952 with SPI
replaced 10620 with BIL
replaced 11042 with CLE
replaced 15096 with SYR
replaced 10408 with ATW
replaced 15249 with TLH
replaced 11423 with DSM
replaced 12915 with LCH
replaced 12264 with IAD
replaced 14679 with SAN
replaced 13871 with OMA
replaced 14027 with PBI
replaced 13244 with MEM
replaced 11267 with DAY
replaced 11540 with ELP
replaced 14576 with ROC
replaced 10868 with CAE
replaced 13486 with MSO
replaced 13476 with MRY
replaced 14489 with RDM
replaced 12945 with LEX
replaced 15607 with VLD
replaced 10529 with BDL
replaced 11986 with GRR
replaced 14635 with RSW
replaced 10785 with BTV
replaced 15380 with TVC
replaced 11996 with GSP
replaced 10561 with BFL
replaced 10874 with CAK
replaced 13367 with MLI
replaced 10146 with ABY
replaced 10431 with AVL
replaced 11973 with GPT
replaced 10980 with CHA
replaced 12197 with HPN
replaced 14098 with PHF
replaced 12323 with ILM
replaced 10577 with BGM
replaced 11150 with CSG
replaced 10135 with ABE
replaced 11617 with EWN
replaced 13795 with OAJ
replaced 13029 with LNK
replaced 11003 with CID
replaced 11146 with CRW
replaced 11577 with ERI
replaced 15356 with TTN
replaced 10279 with AMA
replaced 14908 with SNA
replaced 14321 with PWM
replaced 11638 with FAT
replaced 14828 with SIT
replaced 12954 with LGB
replaced 11481 with ECP
replaced 12951 with LFT
replaced 10434 with AVP
replaced 12448 with JAN
replaced 14730 with SDF
replaced 15323 with TRI
replaced 14252 with PSC
replaced 11193 with CVG
replaced 10849 with BZN
replaced 14193 with PNS
replaced 14986 with SRQ
replaced 11641 with FAY
replaced 12992 with LIT
replaced 13422 with MOB
replaced 11612 with EVV
replaced 11823 with FWA
replaced 11980 with GRI
replaced 13290 with MHK
replaced 10158 with ACY
replaced 10685 with BMI
replaced 13377 with MLU
replaced 11109 with COS
replaced 11076 with CMX
replaced 11122 with CPR
replaced 11865 with GCC
replaced 14543 with RKS
replaced 14905 with SMX
replaced 11587 with ESC
replaced 14457 with RAP
replaced 12335 with IMT
replaced 12343 with INL
replaced 12003 with GTF
replaced 10157 with ACV
replaced 12884 with LAN
replaced 14633 with RST
replaced 15048 with SUX
replaced 10268 with ALO
replaced 15295 with TOL
replaced 12389 with ISN
replaced 11525 with EKO
replaced 14262 with PSP
replaced 12888 with LAR
replaced 12391 with ISP
replaced 11648 with FCA
replaced 14696 with SBN
replaced 10469 with AZO
replaced 15412 with TYS
replaced 10731 with BQK
replaced 10800 with BUR
replaced 10551 with BET
replaced 11413 with DRO
replaced 13433 with MOT
replaced 11867 with GCK
replaced 14698 with SBP
replaced 11537 with ELM
replaced 15389 with TWF
replaced 11337 with DLH
replaced 13360 with MLB
replaced 13076 with LSE
replaced 14006 with PAH
replaced 10728 with BPT
replaced 15401 with TXK
replaced 13230 with MDT
replaced 12016 with GUM
replaced 11067 with CMI
replaced 11274 with DBQ
replaced 11921 with GJT
replaced 12519 with JMS
replaced 11013 with CIU
replaced 13970 with OTZ
replaced 10779 with BTM
replaced 14150 with PLN
replaced 14794 with SGU
replaced 12511 with JLN
replaced 12177 with HOB
replaced 12523 with JNU
replaced 13184 with MBS
replaced 12007 with GTR
replaced 14588 with ROW
replaced 13061 with LRD
replaced 15041 with SUN
replaced 14574 with ROA
replaced 14109 with PIB
replaced 12441 with JAC
replaced 12898 with LBE
replaced 11695 with FLG
replaced 16218 with YUM

In [4]:
print(len(df_fl.ORIGIN_AIRPORT.unique()))
print(len(df_fl.DESTINATION_AIRPORT.unique()))
print(len(df_fl.AIRLINE.unique()))

331
332
14

In [ ]:
df_fl.to_csv('flights_new.csv')

In [2]:
air.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [1]:
import pandas as pd
air=pd.read_csv('airports.csv')
df=pd.read_csv('flights_new.csv')

In [3]:
print(len(df.ORIGIN_AIRPORT.unique()))
print(len(df.DESTINATION_AIRPORT.unique()))
print(len(air.IATA_CODE.unique()))

323
323
322

In [4]:
x=df.ORIGIN_AIRPORT.unique()
y=air.IATA_CODE.unique()

In [5]:
x=x.tolist()

In [7]:
y=y.tolist()

In [15]:
for i in x:
    if i not in y:
        print(i)

BSM

In [19]:
df[df['DESTINATION_AIRPORT']=='BSM']

,Unnamed: 0,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
4386515,4386515,2015,10,1,4,WN,622,N391SW,DAL,BSM,...,657.0,-3.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4386675,4386675,2015,10,1,4,WN,425,N382SW,LBB,BSM,...,720.0,-5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4386737,4386737,2015,10,1,4,F9,1257,N953FR,ORD,BSM,...,853.0,-20.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4386787,4386787,2015,10,1,4,UA,1084,N76504,EWR,BSM,...,905.0,-24.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4386848,4386848,2015,10,1,4,AA,17,N002AA,LAX,BSM,...,1126.0,-3.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4387074,4387074,2015,10,1,4,WN,422,N399WN,ELP,BSM,...,908.0,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4387361,4387361,2015,10,1,4,AA,1004,N009AA,DFW,BSM,...,754.0,-5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4387511,4387511,2015,10,1,4,B6,1039,N809JB,BOS,BSM,...,1011.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4387618,4387618,2015,10,1,4,F9,212,N920FR,DEN,BSM,...,958.0,-14.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4387681,4387681,2015,10,1,4,AA,399,N4XGAA,ORD,BSM,...,1016.0,15.0,0,0,NaN,0.0,0.0,13.0,2.0,0.0
4387714,4387714,2015,10,1,4,WN,2542,N556WN,PHX,BSM,...,1118.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4387720,4387720,2015,10,1,4,WN,433,N8319F,SAN,BSM,...,1150.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4387972,4387972,2015,10,1,4,WN,1940,N902WN,LAS,BSM,...,1158.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4388063,4388063,2015,10,1,4,UA,793,N841UA,IAH,BSM,...,830.0,-3.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4388224,4388224,2015,10,1,4,WN,1819,N524SW,DAL,BSM,...,834.0,-1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4388296,4388296,2015,10,1,4,WN,2736,N935WN,MDW,BSM,...,1000.0,-30.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4388464,4388464,2015,10,1,4,WN,3030,N359SW,BNA,BSM,...,958.0,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4388633,4388633,2015,10,1,4,OO,6523,N774SK,LAX,BSM,...,1258.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4388848,4388848,2015,10,1,4,DL,1309,N824DN,ATL,BSM,...,936.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4388925,4388925,2015,10,1,4,DL,2818,N325NB,JFK,BSM,...,1114.0,-24.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4388998,4388998,2015,10,1,4,AA,1356,N4XMAA,DFW,BSM,...,922.0,-5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4389082,4389082,2015,10,1,4,DL,2318,N358NB,DTW,BSM,...,1017.0,-31.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4389179,4389179,2015,10,1,4,WN,870,N7702A,BWI,BSM,...,1116.0,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4389185,4389185,2015,10,1,4,WN,2029,N728SW,LAX,BSM,...,1338.0,3.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4389214,4389214,2015,10,1,4,B6,795,N249JB,JFK,BSM,...,1136.0,1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4389314,4389314,2015,10,1,4,AA,2043,N807AW,PHX,BSM,...,1301.0,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4389346,4389346,2015,10,1,4,VX,441,N525VA,DAL,BSM,...,940.0,0.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4389405,4389405,2015,10,1,4,UA,468,N848UA,SFO,BSM,...,1409.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4389435,4389435,2015,10,1,4,WN,1275,N429WN,DAL,BSM,...,943.0,-2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4389688,4389688,2015,10,1,4,WN,503,N640SW,HOU,BSM,...,941.0,-14.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4868589,4868589,2015,10,31,6,B6,511,N665JB,FLL,BSM,...,NaN,NaN,0,1,C,NaN,NaN,NaN,NaN,NaN
4868641,4868641,2015,10,31,6,OO,4973,N789SK,IAH,BSM,...,NaN,NaN,0,1,C,NaN,NaN,NaN,NaN,NaN
4868793,4868793,2015,10,31,6,WN,3528,N8667D,DEN,BSM,...,1858.0,-2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4868814,4868814,2015,10,31,6,WN,4255,N426WN,LAX,BSM,...,2050.0,-5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4868861,4868861,2015,10,31,6,WN,216,N233LV,TPA,BSM,...,1741.0,1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4868902,4868902,2015,10,31,6,DL,690,N960DN,ATL,BSM,...,1904.0,87.0,0,0,NaN,87.0,0.0,0.0,0.0,0.0
4869006,4869006,2015,10,31,6,WN,4305,N221WN,SNA,BSM,...,2103.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4869119,4869119,2015,10,31,6,WN,31,N268WN,PHX,BSM,...,2237.0,117.0,0,0,NaN,7.0,0.0,0.0,110.0,0.0
4869124,4869124,2015,10,31,6,WN,3984,N901WN,EWR,BSM,...,2056.0,81.0,0,0,NaN,7.0,0.0,0.0,74.0,0.0
4869194,4869194,2015,10,31,6,WN,3615,N8661A,SAN,BSM,...,2114.0,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4869216,4869216,2015,10,31,6,OO,5530,N706SK,SFO,BSM,...,NaN,NaN,0,1,C,NaN,NaN,NaN,NaN,NaN
4869393,4869393,2015,10,31,6,AA,67,N3FEAA,JFK,BSM,...,2045.0,32.0,0,0,NaN,32.0,0.0,0.0,0.0,0.0
4869420,4869420,2015,10,31,6,AA,1221,N4XBAA,DFW,BSM,...,1919.0,79.0,0,0,NaN,79.0,0.0,0.0,0.0,0.0
4869430,4869430,2015,10,31,6,DL,2418,N323NB,SLC,BSM,...,2037.0,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4869790,4869790,2015,10,31,6,WN,1304,N200WN,DCA,BSM,...,2232.0,147.0,0,0,NaN,13.0,0.0,0.0,134.0,0.0
4869881,4869881,2015,10,31,6,UA,289,N816UA,DEN,BSM,...,2043.0,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4869952,4869952,2015,10,31,6,VX,457,N524VA,DAL,BSM,...,1913.0,38.0,0,0,NaN,14.0,0.0,24.0,0.0,0.0
4869978,4869978,2015,10,31,6,OO,6247,N740SK,IAH,BSM,...,NaN,NaN,0,1,C,NaN,NaN,NaN,NaN,NaN
4870182,4870182,2015,10,31,6,AA,2482,N4UBAA,DFW,BSM,...,1933.0,23.0,0,0,NaN,16.0,0.0,7.0,0.0,0.0
4870371,4870371,2015,10,31,6,F9,1493,N921FR,ATL,BSM,...,1957.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4870499,4870499,2015,10,31,6,AA,1056,N3EGAA,LAX,BSM,...,2340.0,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4870935,4870935,2015,10,31,6,UA,1233,N69835,IAH,BSM,...,2101.0,29.0,0,0,NaN,0.0,0.0,29.0,0.0,0.0
4870986,4870986,2015,10,31,6,WN,3988,N570WN,HOU,BSM,...,2107.0,32.0,0,0,NaN,5.0,0.0,14.0,13.0,0.0
4871055,4871055,2015,10,31,6,DL,2826,N3756,JFK,BSM,...,2312.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871071,4871071,2015,10,31,6,AA,2424,N3FSAA,MIA,BSM,...,2151.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871116,4871116,2015,10,31,6,AA,2505,N4YEAA,DFW,BSM,...,2114.0,4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871322,4871322,2015,10,31,6,AA,1440,N475AA,DFW,BSM,...,2138.0,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871341,4871341,2015,10,31,6,DL,1837,N686DA,ATL,BSM,...,2215.0,1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871438,4871438,2015,10,31,6,B6,1295,N351JB,JFK,BSM,...,NaN,NaN,0,1,C,NaN,NaN,NaN,NaN,NaN
4871558,4871558,2015,10,31,6,UA,1616,N457UA,IAH,BSM,...,2220.0,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN