In [1]:
%%time
import datetime, warnings, scipy 
import pandas as pd
import numpy as np
df_all = pd.read_csv('flights.csv', low_memory=False)
df=df_all
print(df.shape)

(5819079, 31)
Wall time: 24.6 s

In [10]:
X=df[['MONTH','DAY','YEAR','DAY_OF_WEEK','AIRLINE','ORIGIN_AIRPORT','DESTINATION_AIRPORT','SCHEDULED_DEPARTURE','SCHEDULED_ARRIVAL']]
X.head()

,MONTH,DAY,YEAR,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,SCHEDULED_ARRIVAL
0,1,1,2015,4,AS,ANC,SEA,5,430
1,1,1,2015,4,AA,LAX,PBI,10,750
2,1,1,2015,4,US,SFO,CLT,20,806
3,1,1,2015,4,AA,LAX,MIA,20,805
4,1,1,2015,4,AS,SEA,ANC,25,320

In [18]:
X['DATE'] = pd.to_datetime(X.loc[:,['YEAR','MONTH','DAY']])
X.head()

C:\Users\M1041841\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,MONTH,DAY,YEAR,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,SCHEDULED_ARRIVAL,DATE
0,1,1,2015,4,AS,ANC,SEA,5,430,2015-01-01
1,1,1,2015,4,AA,LAX,PBI,10,750,2015-01-01
2,1,1,2015,4,US,SFO,CLT,20,806,2015-01-01
3,1,1,2015,4,AA,LAX,MIA,20,805,2015-01-01
4,1,1,2015,4,AS,SEA,ANC,25,320,2015-01-01

In [26]:
X.dtypes

MONTH                           int64
DAY                             int64
YEAR                            int64
DAY_OF_WEEK                     int64
AIRLINE                        object
ORIGIN_AIRPORT                 object
DESTINATION_AIRPORT            object
SCHEDULED_DEPARTURE             int64
SCHEDULED_ARRIVAL               int64
DATE                   datetime64[ns]
dtype: object

In [31]:
from pandas.tseries.holiday import USFederalHolidayCalendar
cal = USFederalHolidayCalendar()
holidays = pd.to_datetime(cal.holidays(start='2015-01-01', end='2015-12-31'))

In [37]:
X['is_holiday']=X['DATE'] in holidays

C:\Users\M1041841\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [49]:
holidays

DatetimeIndex(['2015-01-01', '2015-01-19', '2015-02-16', '2015-05-25',
               '2015-07-03', '2015-09-07', '2015-10-12', '2015-11-11',
               '2015-11-26', '2015-12-25'],
              dtype='datetime64[ns]', freq=None)

In [67]:
ifh=[]
for i in range(len(X)):
    if (X['DATE'][i] in holidays):
        ifh.append(1)
    else:
        ifh.append(0)

In [75]:
ihf=X['DATE'] in holidays

In [72]:
X.head()

,MONTH,DAY,YEAR,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,SCHEDULED_ARRIVAL,DATE,is_holiday
0,1,1,2015,4,AS,ANC,SEA,5,430,2015-01-01,1
1,1,1,2015,4,AA,LAX,PBI,10,750,2015-01-01,1
2,1,1,2015,4,US,SFO,CLT,20,806,2015-01-01,1
3,1,1,2015,4,AA,LAX,MIA,20,805,2015-01-01,1
4,1,1,2015,4,AS,SEA,ANC,25,320,2015-01-01,1

In [79]:

X.to_feather('test')

ImportError: the feather-format library is not installed
you can install via conda
conda install feather-format -c conda-forge
or via pip
pip install -U feather-format